<h2>Create New Figure</h2>
<form action="/figures" method="POST">
<p>Name<input type="text" name="name"></p>
<!-- add content here -->
<h3>Titles</h3>
<% @titles.each do |title| %>
<p><input type="checkbox" name="figure[titles][]" value="<%= title.id %>"><%= title.name %></input></p>
</form>
</br>
<>
<h3>Create New Title:</h3>
<form action="">
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
<input type="submit" value="Create New Figure">