<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Landmark</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td><%= @figure.titles %></td>
    <td><%= @figure.landmarks %></td>
  </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/landmarks">Landmarks</a>